#root {
    /*
            max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-family: sans-serif;
    text-align: center;
            min-height: 100vh;
    min-width: 100vw;

            min-height: 100vh;
            min-width: 100vw;
    */
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: #333;
}

.MainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ChartContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 75vw;
    gap: 10px;
}

.ChartObj {
    text-align: center;
    border: 5px solid #EEEEEE;
    border-radius: 10px 10px 10px 10px;
}

.SummaryContainer {
    display: flex;
    flex-direction: column;
    border: 5px solid #EEEEEE;
    min-width: 25vw;
    gap: 5px;
}

.SummariesComp {
    
}




/*th, td {*/
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
/*}*/